pandas==1.4.2
seaborn==0.11.2
numpy==1.21.5
imbalanced-learn==0.9.0
scikit-learn==1.0.2
nltk==3.7
fastapi>=0.68.0,<0.69.0
uvicorn>=0.15.0,<0.16.0
python-multipart==0.0.5
cython==0.29.30
psycopg2==2.9.3
lxml==4.9.1
beautifulsoup4==4.11.1
requests==2.28.1
webdriver-manager
pytest
sphinx
sphinxcontrib-napoleon
sphinx_rtd_theme